# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/

# Tailwind build
static/css/output.css

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
