server {
    server_name sms.example.com;

    client_max_body_size 20M;

    location /static/ {
        alias /var/www/sms_pro/staticfiles/;
    }

    location / {
        proxy_pass http://unix:/run/sms_pro/sms_pro.sock;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
